@charset "UTF-8";
body, html {
  height: 100%; }

.logo-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imagenes/home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.contacto-text {
  position: absolute;
  top: 30%;
  color: #fa8072;
  font-family: "Calibri", sans-serif;
  left: 1%; }

.registro {
  font-size: 22px;
  /* Tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "Calibri", sans-serif;
  /* Fuente del exto */
  color: #e50101;
  text-align: center; }

* {
  margin: 0px;
  padding: 0px; }

/* Estilos grid */
#grilla {
  display: grid;
  grid-template-areas: "header header header" "nav nav nav" "publicidad publicidad1 publicidad2" "bodegas bodegas bodegas" "conectate conectate conectate" "footer footer footer";
  grid-template-rows: 55px 450px 680px 120px 70px 30px; }

#grillacompany {
  display: grid;
  grid-template-areas: "header"  "nav"  "empresaText"  "bodegas"  "conectate"  "volver"  "footer";
  grid-template-rows: 55px 450px 1540px 120px 70px 20px 20px; }

#grillaproducto {
  display: grid;
  grid-template-areas: "header"  "nav"  "productoText"  "bodegas"  "conectate"  "volver"  "footer";
  grid-template-rows: 55px 450px 1400px 120px 70px 20px 20px; }

#grillacontacto {
  display: grid;
  grid-template-areas: "header"  "nav"  "productoText"  "bodegas"  "conectate"  "volver"  "footer";
  grid-template-rows: 55px 450px 400px 120px 70px 20px 20px; }

#grillaregistro {
  display: grid;
  grid-template-areas: "header"  "nav"  "registroText"  "bodegas"  "conectate"  "volver"  "footer";
  grid-template-rows: 55px 350px 300px 120px 70px 20px 20px; }

/*de aca es la personalización de cada uno*/
header {
  grid-area: header;
  color: #ff0000;
  font-size: 80%;
  font-family: "Arial" sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 2px 2px; }

footer {
  grid-area: footer;
  background: black;
  text-align: center;
  font-weight: bold; }

section#bodegas {
  grid-area: bodegas;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center; }

section#conectate {
  grid-area: conectate;
  letter-spacing: 2px;
  background: white;
  font-weight: bold;
  text-align: center; }

section#empresaText {
  grid-area: empresaText;
  background: white; }

section#productoText {
  grid-area: productoText;
  background: white; }

#productotext img {
  width: 80%;
  height: 300px; }
  #productotext img:hover {
    border: 5px solid #ffffff; }
#productotext .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

section#registroText {
  grid-area: registroText;
  background: white; }

section#volver {
  grid-area: volver;
  color: #fa8072;
  font-family: "Calibri", sans-serif; }

aside#publicidad {
  grid-area: publicidad;
  justify-content: center;
  background-color: white; }

aside#publicidad1 {
  grid-area: publicidad1;
  justify-content: center;
  background-color: white; }

aside#publicidad2 {
  grid-area: publicidad2;
  justify-content: center;
  background-color: white; }

#tituloofertas {
  background-color: #ffffff;
  font-size: 90%; }

nav {
  grid-area: nav; }

.nav__company {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("imagenes/empresa.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.nav__products {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("imagenes/productos.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.nav__contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("imagenes/contacto.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/* Estilos FlexBox */
.flex-box {
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  text-align: center;
  justify-content: flex-start;
  height: 90%; }

.animacion:hover {
  text-decoration-color: #ff0000;
  text-decoration-line: underline;
  background-color: #F3D012;
  /*todo lo que pongo aca en el hover se activa cuando me paro con el mouse*/ }

.fila__bodega {
  background-color: black;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: gold; }

.fila__bodega1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 110%; }

.fila__bodega {
  order: 1; }

.fila__bodega1 {
  order: 2; }

ul {
  list-style: none; }

.menu {
  display: flex;
  flex-flow: row wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center; }
  .menu li a {
    font-weight: bolder;
    font-family: "Commissioner", sans-serif;
    text-decoration: none;
    padding: 14px 14px;
    display: block; }
  .menu li ul {
    display: none; }
  .menu li:hover > ul {
    display: block; }

.carousel-item img {
  display: block;
  margin: 3 auto;
  max-width: 75%;
  max-height: 75%;
  background-repeat: no-repeat;
  background-size: cover; }

.container img {
  display: block;
  margin: 3 auto;
  max-width: 70%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  color: gold;
  font-size: 350%;
  font-family: "Arial" sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

h2 {
  color: #ff0000;
  font-size: 150%;
  font-family: "Calibri" sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center; }

h3 {
  color: #f39c12;
  font-size: 130%;
  font-family: "Calibri" sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center; }

h4 {
  color: #ff0000;
  font-size: 120%;
  font-family: "Calibri" sans-serif;
  letter-spacing: 1px;
  display: inline;
  text-align: center; }

h5 {
  color: #f39c12;
  font-size: 110%;
  font-family: "Calibri" sans-serif;
  letter-spacing: 1px; }

h6 {
  color: #ff0000;
  font-size: 90%;
  font-family: "Calibri" sans-serif;
  letter-spacing: 1px;
  text-align: center; }

p {
  font-size: 95%;
  color: black;
  background-color: white;
  font-family: "Verdana" sans-serif; }

img {
  display: block;
  margin: 0 auto; }

video {
  display: block;
  margin: 0 auto; }

footer {
  color: white;
  font-size: 15px;
  position: sticky; }

a {
  color: #fa8072;
  font-weight: bolder;
  font-family: "Commissioner", sans-serif;
  text-decoration: none;
  display: inline; }

table td {
  width: auto;
  height: auto; }

* {
  box-sizing: border-box; }

/*Creamos el bucle para usar los valores del mapa*/
.btn--twitter {
  background-color: #55acee;
  color: #ffffff;
  width: 100%;
  padding: 9px;
  border: none;
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
  .btn--twitter:hover {
    color: white; }

.btn--facebook {
  background-color: #3a5795;
  color: #ffffff;
  width: 100%;
  padding: 9px;
  border: none;
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
  .btn--facebook:hover {
    color: white; }

.btn--google {
  background-color: #dd4b39;
  color: #ffffff;
  width: 100%;
  padding: 9px;
  border: none;
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
  .btn--google:hover {
    color: white; }

.btn--ingreso {
  background-color: #4CAF50;
  color: #ffffff;
  width: 100%;
  padding: 9px;
  border: none;
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
  .btn--ingreso:hover {
    color: white; }

/*Creamos el bucle para usar los valores del mapa*/
.btn--usuario {
  background-color: #ffffff;
  color: red;
  width: 100%;
  padding: 9px;
  border: none;
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold; }
  .btn--usuario:hover {
    color: red; }

.btn--registro {
  background-color: #ffffff;
  color: red;
  width: 100%;
  padding: 9px;
  border: none;
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold; }
  .btn--registro:hover {
    color: red; }

.btn--contrasena {
  background-color: #ffffff;
  color: red;
  width: 100%;
  padding: 9px;
  border: none;
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold; }
  .btn--contrasena:hover {
    color: red; }

.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px; }

.fila:after {
  content: "";
  display: table;
  clear: both; }

.comentarios__contacto {
  overflow: scroll;
  border-top: solid 3px #ff0000;
  border-right: solid 3px #ff0000;
  border-bottom: solid 3px #ff0000;
  border-left: solid 3px #ff0000;
  margin-left: 30%; }

.enviar__contacto {
  background-color: #4CAF50;
  color: #ffffff;
  cursor: pointer;
  width: 18.1%;
  padding: 12px;
  border: none;
  font-size: 20px;
  margin-left: 30%; }

.limpiar__contacto {
  background-color: #E80000;
  color: #ffffff;
  cursor: pointer;
  width: 18.1%;
  padding: 12px;
  border: none;
  font-size: 20px; }

.enviar__registro {
  position: center 0%;
  background-color: #4CAF50;
  color: #ffffff;
  cursor: pointer;
  width: 155px;
  padding: 12px;
  border: none;
  margin: 5px 0;
  font-size: 15px; }

.limpiar__registro {
  position: center 50%;
  background-color: #E80000;
  color: #ffffff;
  cursor: pointer;
  width: 155px;
  padding: 12px;
  border: none;
  font-size: 15px; }

.completar__registro {
  background-color: #0048e8;
  color: #ffffff;
  cursor: pointer;
  width: 155px;
  padding: 12px;
  border: none;
  font-size: 15px;
  font-weight: bold; }

.resdesSociales__conectate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  z-index: 2000;
  /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */ }
  .resdesSociales__conectate a {
    padding: 22px 22px; }

.icon-facebook {
  background-image: url("imagenes/facebook.png");
  background-size: 100%;
  background-repeat: no-repeat; }

.icon-instagram {
  background-image: url("imagenes/instagram.png");
  background-size: 100%;
  background-repeat: no-repeat; }

.icon-twitter {
  background-image: url("imagenes/twitter.png");
  background-size: 100%;
  background-repeat: no-repeat; }

.icon-gmail {
  background-image: url("imagenes/gmail.png");
  background-size: 100%;
  background-repeat: no-repeat; }

.vino {
  display: flex;
  flex-flow: column nowrap; }

img.derecha {
  float: right;
  width: 25%;
  mmin-height: 300px; }

img.izquierda {
  float: left;
  width: 25%;
  min-height: 300px; }

.parrafo {
  text-decoration-style: solid;
  font-size: 100%;
  left: 20%;
  color: black;
  background-color: white;
  font-family: "Verdana" sans-serif;
  list-style: none; }

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear; }

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none; }

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px; }
  .searchbar:hover > .search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear; }
  .searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c; }

/*Query*/
@media (min-width: 576px) {
  .miestilo {
    font-family: "Arial", sans-serif;
    background-color: green; } }
/*Small devices (landscape phones, 576px and up*/
@media (min-width: 768px) {
  .miestilo {
    font-family: "Times New Roman", sans-serif;
    background-color: orange; } }
/*Medium devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .miestilo {
    font-family: "Calibri", sans-serif;
    background-color: blue; } }
/*Large devices (desktops, 992px and up) */
@media (min-width: 1200px) {
  .miestilo {
    font-family: "Consolas", sans-serif;
    background-color: red; } }
/*Extra large devices (large desktops, 1200px and up)*/
